body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  width: 50%;
}


form {
  margin: 20px;

}

input {
  padding: 10px;
  font-size: 24px;
}


button {
  margin: 200px;
  width: 10vw;
  height: 3vh;

}


.todaysFood {
position: absolute;
right: 250px;
top: 50px;

}